// base fonts
$fontNormal: Helvetica;
$fontPoke: 'Acme', sans-serif;

// base colors
$red-light: #D53B47;
$red: #E01122;
$yellow: #FFD000;
$bg-black: #2B282A;
$bg-card: #3A3739;
$bg-black-light: #4B474A;
$white: #fff;
$hover-white: #d2d2d2;
$shadow-text: 2px 0 #322f94, -2px 0 #322f94, 0 2px #322f94, 0 -2px #322f94,
1px 1px #322f94, -1px -1px #322f94, 1px -1px #322f94, -1px 1px #322f94;

// details colors
$pink: #FF707C;

// Stats colors
$hp: #D33A48;
$attack: #FEA726;
$defense: #0191EB;
$special-attack: #8EB0C4;
$special-defense: #b288ff;
$speed: #388D3C;

// types colors
$normal: #aa9;
$fire: #f42;
$water: #39f;
$eletric: #fc3;
$grass: #7c5;
$grass: #7c5;
$ice: #6cf;
$fighting: #b54;
$poison: #a59;
$ground: #db5;
$flying: #89f;
$psychic: #f59;
$bug: #ab2;
$rock: #ba6;
$ghost: #66b;
$dragon: #76e;
$dark: #754;
$steel: #aab;
$fairy: #e9e;