@use "../../styles/variables.scss" as v;

.spinner {
  height: 50px;
  width: 50px;
  border: 6px solid;
  justify-self: center;

  border-color: v.$red-light transparent v.$red-light transparent;
  border-radius: 50%;
  animation: spin 1.3s ease infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}