@use "../../styles/variables.scss" as v;

.container {
  background-color: v.$bg-black-light;
  border-radius: 5px;
  min-width: 220px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  padding: 160px 15px 25px;
}

.containerImg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  background-color: v.$bg-card;
  border-radius: 8px;
  width: 100%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  height: 150px;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 1.5rem;

  span {
    padding: 1px 3px 1px 4px;
    border-radius: 3px;
  }

  h3 {
    font-size: 24px;
    font-family: v.$fontPoke;
    color: v.$yellow;
    text-shadow: v.$shadow-text;
  }
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btnDetails {
  background-color: #d53b47;
  padding: 10px 55px;
  border-radius: 5px;
  transition: 0.3s ease;
  color: #fff;
  line-height: normal;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #e01122;
  }
}

.favorite {
  cursor: pointer;
  color: v.$red;
}

div[type="grass"] {
  background-color: v.$grass;
}

div[type="fire"] {
  background-color: v.$fire;
}

div[type="water"] {
  background-color: v.$water;
}

div[type="bug"] {
  background-color: v.$bug;
}

div[type="normal"] {
  background-color: v.$normal;
}

div[type="electric"] {
  background-color: v.$eletric;
}

div[type="psychic"] {
  background-color: v.$psychic;
}

div[type="ice"] {
  background-color: v.$ice;
}

div[type="dragon"] {
  background-color: v.$dragon;
}

div[type="dark"] {
  background-color: v.$dark;
}

div[type="fairy"] {
  background-color: v.$fairy;
}

div[type="steel"] {
  background-color: v.$steel;
}

div[type="ghost"] {
  background-color: v.$ghost;
}

div[type="rock"] {
  background-color: v.$rock;
}

div[type="ground"] {
  background-color: v.$ground;
}

div[type="poison"] {
  background-color: v.$poison;
}

div[type="flying"] {
  background-color: v.$flying;
}

div[type="fighting"] {
  background-color: v.$fighting;
}