@use "../../styles/variables.scss" as v;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.input {
  outline: none;
  height: 2rem;
  width: 70%;

  padding: 5px 0 5px 15px;
  border-radius: 8px;
  border: none;
  position: relative;
  font-size: 1rem;
}

.icon {
  color: v.$red-light;
  position: absolute;
  right: 15%;
  cursor: pointer;
  padding: 5px 10px;
  transition: 1s ease;

  &:hover {
    background-color: rgb(255, 209, 209);
    border-radius: 3px;
  }
}