@use "../../styles/variables.scss" as v;

* {
  text-decoration: none;
}

.navbar {
  display: flex;
  width: 100%;
  background-color: v.$red-light;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  max-height: 4rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: 0.4s ease;

  .titleLogo {
    font-family: v.$fontPoke;
    color: v.$yellow;
    font-size: 27px;
    text-shadow: v.$shadow-text;
  }

  &:hover {
    transform: scale(1.15);
  }
}

.navContainer {
  display: flex;
  gap: 1rem;
}
