@use "../../styles/variables.scss" as v;

.section {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 90%;
  margin: auto;
}

p, h4 {
  margin: 0;
}

.cardBackgorund {
  max-width: 300px;
  margin: auto;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  p {
    font-weight: bold;
    font-size: 24px;
  }
}

.subTitle {
  font-size: 24px;
  font-family: v.$fontPoke;
  color: v.$yellow;
  text-shadow: v.$shadow-text;
}

.img {
  background-color: rgba(126, 126, 126, 0.321);
  border-radius: 8px;
  margin-bottom: 1rem;
}

.typesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;

  .type {
    padding: 3px 30px;
    border-radius: 15px;
  }
}

.data_container {
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 4rem;
  margin: 2rem 0 3rem;

  p {
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .text {
    margin: 0;
    font-size: 13px;
    color: rgb(128, 128, 128);
  }
  
}

.btnBack {
  background-color: #d53b47;
  padding: 10px 55px;
  border-radius: 5px;
  transition: 0.3s ease;
  color: #fff;
  line-height: normal;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #e01122;
  }
}

.secondContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.statsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem 1rem;
  background-color: rgba(126, 126, 126, 0.321);
  padding: 1rem;
  border-radius: 8px;

  h4 {
    grid-area: 2 / 4 / 1 / 1;
    margin-bottom: 1rem;
  }
}

.descriptionStats {
  display: flex;
  width: fit-content;
  gap: 0.5rem;
  text-align: start;
}

.abilitiesContainer {
  background-color: rgba(126, 126, 126, 0.321);
  padding: 1rem;
  border-radius: 8px;

  .descriptionAbility {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  h4 {
    margin-bottom: 1rem;
  }
}

.positionsContainer {
  background-color: rgba(126, 126, 126, 0.321);
  padding: 1rem;
  border-radius: 8px;

  h4 {
    margin-bottom: 1rem;
  }
}

.type_normal {
  background-color: #aa9;
}

.type_fire {
  background-color: #f42;
}

.type_water {
  background-color: #39f;
}

.type_eletric {
  background-color: #fc3;
}

.type_grass {
  background-color: #7c5;
}

.type_ice {
  background-color: #6cf;
}

.type_fighting {
  background-color: #b54;
}

.type_poison {
  background-color: #a59;
}

.type_ground {
  background-color: #db5;
}

.type_flying {
  background-color: #89f;
}

.type_psychic {
  background-color: #f59;
}

.type_bug {
  background-color: #ab2;
}

.type_rock {
  background-color: #ba6;
}

.type_ghost {
  background-color: #66b;
}

.type_dragon {
  background-color: #76e;
}

.type_dark {
  background-color: #754;
}

.type_steel {
  background-color: #aab;
}

.type_fairy {
  background-color: #e9e;
}

.stat_hp {
  color: #D33A48;
}

.stat_attack {
  color: #FEA726;
}

.stat_defense {
  color: #0191EB;
}

.stat_special-attack {
  color: #8EB0C4;
}

.stat_special-defense {
  color: #b288ff;
}

.stat_speed {
  color: #388D3C;
}